<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>{{ title }}</title>
    <style>
        tr:nth-child(odd)		{ background-color:#eee; }
        td {
            padding: 6px 5px 2px 5px;
        }
    </style>
</head>

<body>

    <h1 style='margin: 15px 0px 20px 15px; color: #606060'>{{ path }}</h1>

    <div id="listing" style='margin: 10px'>

    {% if not_empty %}
        <table style='border-bottom: 1px solid #e0e0e0'>
        <tr style='color: #606060'>
            <td>Filename</td>
            <td style='text-align: right'>Size</td>
            <td style='text-align: right'>GMT</td>
        </tr>

    {% for item in list %}
        <tr>
        <td><a href="{{ item.href }}">{{ item.desc }}</a></td>
        <td style='padding-left: 20px; text-align: right'>{{ item.size }}</td>
        <td style='padding-left: 15px; text-align: right'>{{ item.modified }}</td>
        </tr>
    {% endfor %}

        </table>

    {% else %}

        <div style='margin-left: 5px'>Directory is empty</div>

    {% endif %}

    </div>

</body>

</html>